.l-container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: var(--s-5);
}

@media (min-width: 768px) {
    .l-container {
        padding-inline: var(--s-6);
    }
}