.c-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 14px;
    border-radius: var(--r-1);

    border: 1px solid hsl(var(--n-100) / 0.10);
    background: transparent;

    color: inherit;
    text-decoration: none;
}

.c-button:hover {
    background: var(--hover);
    text-decoration: none;
}

.c-button--ghost {
    border-color: transparent;
}