.hero {
  padding-block: 64px;
  background: transparent;
}


.hero-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  align-items: center;

}

.hero .container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}


.hero-actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.hero-actions a {
  color: var(--text-main);
  text-decoration: none;
  transition: color 150ms ease, text-shadow 150ms ease;
}

.hero-text {
  color: var(--text-muted)
}

.hero-avatar img {
  display: block;
  /* för Chromium/WebKit */
  -webkit-mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 15%,
      black 70%,
      transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  /* för Firefox (standard) */
  mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 15%,
      black 70%,
      transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}