.hero {
  padding-block: 96px 32px;
  background: transparent;
}


.hero-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  align-items: center;

}

.hero .container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}


.hero-actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.hero-actions a {

  background: linear-gradient(90deg,
      hsl(140 35% 60%),
      hsl(155 30% 52%),
      hsl(165 28% 45%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 4px hsl(150 40% 30% / 0.25)) drop-shadow(0 0 8px hsl(185 50% 35% / 0.15));
}


.hero-text {
  color: var(--text-muted)
}

.hero-avatar img {
  display: block;
  /* för Chromium/WebKit */
  -webkit-mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 15%,
      black 70%,
      transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  /* för Firefox (standard) */
  mask-image: linear-gradient(to bottom,
      transparent 0%,
      black 15%,
      black 70%,
      transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}