.projects {
  position: relative;
  padding-block: 20px 92px;
  background: rgb(0, 0, 0, 0.1);
  color: var(--text-main);
  overflow: hidden;
}

/* Shadow separator top */
/*
.projects::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  height: 140px;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(to bottom,
      rgba(3, 6, 10, 0.35),
      transparent);
}
*/
/* Grid overlay */
/*
.projects::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.025) 1px, transparent 1px);

  background-size: 32px 32px;
  opacity: 0.50;

  -webkit-mask-image:
    linear-gradient(to bottom,
      transparent 0%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 80%,
      transparent 100%),
    linear-gradient(to right,
      transparent 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 70%,
      transparent 100%);
  -webkit-mask-composite: intersect;

  mask-image:
    linear-gradient(to bottom,
      transparent 0%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 80%,
      transparent 100%),
    linear-gradient(to right,
      transparent 0%,
      rgba(0, 0, 0, 1) 12%,
      rgba(0, 0, 0, 1) 88%,
      transparent 100%);
  mask-composite: intersect;
}
  */

.projects h2 {
  margin-bottom: 3rem;
}

.projects-grid {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card-title {
  margin-bottom: 8px;
  letter-spacing: -0.01em;
}

.project-description {
  color: var(--text-muted);
  line-height: 1.55;
  max-width: 38ch;
}