@import "../styles/typography.css";
@import "../styles/theme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-page);
  color: white;
}

main {
  flex: 1;
}