@import "./tokens.css";

:root {
  --bg-page: var(--gray-10);
  --bg-section: var(--gray-20);

  --text-strong: var(--gray-100);
  --text-main: var(--gray-80);
  --text-muted: var(--gray-60);

  --accent: var(--accent-primary);
}