:root {
    /* Typography */
    --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
    --fs-1: 0.875rem;
    /* 14 */
    --fs-2: 1rem;
    /* 16 */
    --fs-3: 1.125rem;
    /* 18 */
    --fs-4: 2rem;
    /* 32 */
    --fs-5: 3rem;
    /* 48 */

    /* Spacing */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;
    --space-7: 48px;
    --space-8: 72px;

    /* Radius */
    --radius-1: 10px;
    --radius-2: 16px;
    --radius-pill: 999px;

    /* Neutral palette (HSL channels) */
    --n-950: 220 20% 6%;
    --n-900: 220 18% 9%;
    --n-800: 220 16% 14%;
    --n-700: 220 12% 24%;
    --n-200: 220 10% 72%;
    --n-100: 220 15% 90%;

    /* Accent (valfri) */
    --a-500: 190 90% 55%;
}